<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <style> -->
    {%load static%}
<link rel="stylesheet" href="{%static 'css/review.css'%}">
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="header">
        <span class="postreview">Post Review</span>
        <input type="text" class="search-user" />
        <button class="search-btn btn" type="submit">search</button>
        <a href="index"><span class="signout-btn btn">signout</span></a>
      </div>
    </form>
    <!-- end of header -->
    <!-- my posts -->
    <div class="post-index">
      {%for i in postsall%}
      <form action="add_review?uname={{ i.uname }}&img={{ i.post_img }}&caption={{ i.post_caption }}" method="GET">
        <div class="my-post-frame" id="post_{{ forloop.counter }}">
            <div class="hide">
              <input type="text" name="uname" type="hidden" value="{{i.uname}}">
              <input type="text" name="img" type="hidden" value="{{i.post_img}}">
              <input type="text" name="caption" type="hidden" value="{{i.post_caption}}">
              <input type="text" name="id" type="hidden" value="{{i.id}}">
            </div>
            <span class="uname">{{i.uname}}</span>
            <div class="img-frame">
              <img src="{{i.post_img.url}}" alt="" class="post_img" />
            </div>
            <div class="caption-display">{{i.post_caption}}</div>
            <div class="review">
              <textarea
                name="reviewimg"
                class="review-img"
                id=""
                cols="80"
                rows="5"
                placeholder="give review"
              ></textarea>
            </div>
              <button type="submit" class="post-review btn">Review</button>
          <div class="left-arrow" onclick="plusDivs(-1)">&#10094;</div>
          <div class="right-arrow" onclick="plusDivs(1)">&#10095;</div>
        </div>
      </form>
      {%endfor%}
      <div class="my-profile-frame">
        <span class="my-profile">My Profile</span>
        <div class="icon-profile"></div>
        <div class="user-name btn">{{unam}}</div>
        <a href="{%url 'review'%}" ><div class="home btn">Home</div></a>
        <a href="{%url 'my_reviews'%}" ><div class="my-posts btn">My Reviews</div></a>       
        <a href="{%url 'new_review'%}" class="new_post" ><div class="new-post btn">Give Review
        </div></a>
      </div>
      <footer class="footer">
				<a href="{%url 'review'%}"><div class="btn">Home</div></a>
				<a href="{%url 'my_reviews'%}" class="posts-my"
					><div class="btn">My Reviews</div></a
				>
			</footer>
    </div>
    <!-- end of my posts -->
    <script>
      var slideindex = 0;
      localStorage.setItem("index", "0");
      showdiv(slideindex);
      function plusDivs(n) {
        slideindex += n;
        showdiv(slideindex);
      }
      function showdiv(n) {
        var i = 0;
        var x = document.getElementsByClassName("my-post-frame");
        // var y = document.getElementsByClassName("edit-post-frame");
        console.log(
          "entered javascript " + String(x.length) + " slideind " + slideindex
        );
        if (n >= x.length) {
          slideindex = 0;
        }
        if (n < 0) {
          if (x.length - 1 != 0) {
            slideindex = x.length - 1;
          } else {
            slideindex = 0;
          }
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
          // y[i].style.display = "none";
        }
        x[slideindex].style.display = "inline-block";
        // y[slideindex].style.display = "inline-block";
        console.log("slieindexx  " + slideindex);
      }
    </script>
  </body>
</html>
