<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    
    {%load static%}
<link rel="stylesheet" href="{%static 'css/postreview.css'%}">
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="header">
        <span class="postreview">Post Review</span>
        <input type="text" class="search-user" />
        <button class="search-btn btn" type="submit">search</button>
        <a href="index"><span class="signout-btn btn">signout</span></a>
      </div>
    </form>
    <!-- end of header -->
    <!-- my posts -->
    <div class="post-index">
      <form action="update_post_db" class="img-file" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="new-post-frame">
        <div class="new-post-header">Update Post</div>
        <div style="color: red; margin-left: 50%; transform: translateX(-50%); margin-top: 2rem;">*donot forget to upload pic</div>
        <input type="hidden" name="id" value="{{id}}"class="hide">
        <div class="img-input">
          <input type="file" name="img-choose-file" class="choose-file" accept="image/*" />
        </div>
        <textarea name="caption" class="caption" id="" cols="30" rows="10"maxlength="200">{{ capval }}</textarea>
        <button type="submit" class="post-img-frame btn">Update</button>
      </div>
      </form>
      <div class="my-profile-frame">
        <span class="my-profile">My Profile</span>
        <div class="icon-profile"></div>
        <div class="user-name btn">{{unam}}</div>
        <a href="{%url 'post_post'%}" ><div class="home btn">Home</div></a>
        <a href="{%url 'my_posts'%}" class="posts-my"><div class="my-posts btn">My Posts</div></a>      
        <a href="{%url 'new_post'%}" class="new_post" ><div class="new-post btn">New Posts
        </div></a>
      </div>
    </div>
    <!-- end of my posts -->
  </body>
</html>
